---
title: Contacts
---

<link rel="preconnect" href="https://dis.drachenwald.sca.org" />

{% assign grouplist = site.dw_contact_groups | default:site.dw_group %}
{% for group in grouplist %}
  {% assign groupdata = site.data.remote.groups | where_exp:"item", "item.group contains group" | first %}
  <div class="mb-4">
    <h2>
      {% if groupdata.status == "Region" %}
        {{ groupdata.group }} {{ groupdata.status }}
      {% else %}
        {{ groupdata.status }} of {{ groupdata.group }}
      {% endif %}
    </h2>
    
    <p><i>{{ groupdata.region }}</i></p>
    
    <div class="dw-live-officers" lang="en" display="compact"
      group="{{ groupdata.parent }}-{{ groupdata.group }}">
      Loading...
    </div>

    {% unless groupdata.website == "" %}
    <a href="{{ groupdata.website }}" class="btn btn-primary mt-3"><i class="fa-solid fa-globe"></i> Visit {{ groupdata.group }} website</a>
    {% endunless %}
  </div>
{% endfor %}


<script src="https://scripts.drachenwald.sca.org/regnum/regnum-fetch.js"></script>