---
layout: page
---

<div class="container text-center">
  <p>
    Ever wonder what it was like to fight in armour? To shoot a bow from a
    castle window? To learn how to make clothes right from preparing the wool
    to final embroidery or illuminate text on parchment? If you've even a
    passing interest in medieval arts & crafts, medieval cookery & brewing,
    heraldry & arms, fencing or just historical research, we do all of this,
    and so much more in the Society for Creative Anachronism!
  </p>
</div>

<br />

<div class="card-group shadow">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">About</h5>
      <p class="card-text">About {{ site.dw_group }}</p>
      <p class="card-text">
        <a role="button" class="btn btn-primary stretched-link" href="/about/">What we do...</a>
      </p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Events</h5>
      <p class="card-text">Events taking place in our group.</p>
      <p class="card-text">
        <a role="button" class="btn btn-primary stretched-link" href="/events/">See our events...</a>
      </p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Archery</h5>
      <p class="card-text">Get in touch.</p>
      <p class="card-text">
        <a role="button" class="btn btn-primary stretched-link" href="/contact/">Who we are...</a>
      </p>
    </div>
  </div>
</div>

<div class="my-3">
  {{ content }}
</div>